html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: #64a2c7;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #64a2c7;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  padding: 0;
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #0000007a;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-weight: 200;
}

#mainNav .navbar-brand {
  color: #64a2c7;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 25px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #64a2c7;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #fff;
  outline: none;
  border-color: #fff;
}

#mainNav .navbar-nav > li > a {
  font-size: 19px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #64a2c7 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #fff;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #64a2c7;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #fff;
    font-size: 20px;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    /* background-color: white; */
    background-color: #0000007a;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #64a2c7;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #64a2c7;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding: 100px 10px;
  color: #000;

  background: url('../img/homebg.jpeg') center center no-repeat;
  background-size: cover;
}

header.masthead .header-content {
  max-width: 800px;
  margin-bottom: 20px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
  color: #ffffff;
}

header.masthead .header-content .mera {
  color: #63a2cb;
  font-weight: bold;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

header.masthead .header-content .download-title {
  position: relative;
  bottom: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: center;
  }
  header.masthead .header-content h1 {
    font-size: 42px;
    color: #ffffff;
  }

  header.masthead .header-content .download-title {
    position: relative;
    bottom: 3px;
  }

  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
  background: url('../img/download.jpg') center center no-repeat;
  background-size: cover;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
  color: #ffffff;
}

section.download p {
  font-size: 22px;
}

section.download .badges {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

section.download h2 {
  font-size: 70px;
  color: #ffffff;
}
section.features .section-heading {
  margin-bottom: 60px;
}

section.features .section-heading h2 {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 25px;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-bottom: 30px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 28px;
  font-weight: 400;
}

section.features .feature-item .feature-description {
  font-size: 17px;
  line-height: 1.6;
}

section.features .feature-item img {
  margin-bottom: 15px;
}

section .overlay,
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a6;
}

footer {
  padding: 15px 0;
  text-align: center;
  background-color: #000;
}

footer p {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 4;
}

footer a {
  text-decoration: none !important;
  color: #ffffff;
}

footer i {
  padding: 10px 10px;
  font-size: 27px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 0 5px;
}

footer .facebook {
  background-color: #3b5998;
  padding: 10px 16px;
}

footer .instagram {
  background-color: #e1306c;
}

footer .facebook:hover {
  color: #3b5998;
  background-color: #ffffff;
}

footer .instagram:hover {
  color: #e1306c;
  background-color: #ffffff;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: #fff;
  border: 1px solid #65a4ca;
  background: #65a4ca;
  border-radius: 50px !important;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #6591c2;
  border-color: #fff;
  background-color: #fff;
}

.btn {
  border-radius: 300px;
  text-transform: uppercase;
  outline: none !important;
}

.btn-xl {
  font-size: 22px;
  padding: 15px 45px;
}

/* responsive */
/* max-width: 500px */
@media screen and (max-width: 500px) {
  #mainNav {
    padding: 3px 6px;
  }

  #mainNav .navbar-brand img {
    width: 60px;
  }

  #mainNav .navbar-nav > li > a.active,
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    padding: 7px 10px;
  }

  header.masthead .header-content h1 {
    font-size: 22px;
    line-height: 1.4;
    margin-top: 30px;
  }

  #mainNav .navbar-toggler {
    font-size: 14px;
  }

  #mainNav .navbar-nav > li > a {
    font-size: 16px;
  }

  .btn-xl {
    font-size: 18px;
    padding: 12px 28px;
  }

  section {
    padding: 50px 0;
  }

  section.features .section-heading h2 {
    font-size: 23px;
  }

  section.features .section-heading p {
    font-size: 17px;
  }
  section.features .device-container {
    margin-bottom: 70px;
  }
  section.features .section-heading {
    margin-bottom: 40px;
  }

  section.features .feature-item h3 {
    font-size: 23px;
  }

  section.features .feature-item .feature-description {
    font-size: 16px;
  }

  section.download {
    padding: 80px 0;
  }

  section.download h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  section.download p {
    font-size: 17px;
    margin-bottom: 30px;
  }

  section.download .badges .badge-link img {
    height: 40px;
  }

  footer p {
    font-size: 12px;
  }

  footer i {
    font-size: 22px !important;
  }

  footer .instagram {
    padding: 10px 11px;
  }

  footer .facebook {
    padding: 9px 14px;
  }
}
/* (min-width: 500px)  and (max-width: 960px)*/
@media screen and (min-width: 500px) and (max-width: 960px) {
  #mainNav .navbar-toggler {
    font-size: 15px;
  }

  header.masthead .header-content h1 {
    margin-top: 40px;
  }

  section h2 {
    font-size: 35px;
  }

  section.download h2 {
    font-size: 40px;
  }

  section.download p {
    font-size: 20px;
  }

  footer .facebook {
    padding: 8px 14px;
  }

  footer .instagram {
    padding: 8px 10px;
  }
}
/* responsive */
